:root {
    --main-color: #ef4444;
    --secondary-color: #fcd34d;

    font-family: "Poppins";
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

body {
    height: 100vh;
    padding: 0;
}

#content {
    height: calc(100% - 63px);
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
    align-items: center;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    height: 100%;
}

.nav-button {
    padding: 10px 40px;
    border: none;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    color: inherit;
}

.nav-button:hover {
    color: var(--secondary-color);
    transition: color 0.3s;
}

.nav-button:active {
    opacity: 80%;
}
/* Home Hero Section */

.red {
    color: var(--main-color);
    -webkit-text-stroke: 1px black;
}

.yellow {
    color: var(--secondary-color);
}

.section {
    padding-top: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-image: url("../images/Fast-Food-Restaurants.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(100%);
}

.hero-title {
    color: white;
    font-weight: 600;
    font-size: 60px;
}

.hero-subtitle {
    font-size: 20px;
    color: white;
}

/* Home Section 2*/

.customers {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: calc(20% - 60px);
    font-size: 45px;
    padding: 30px;
    font-weight: 600;
    color: var(--secondary-color);
    align-items: center;
    justify-content: space-evenly;
}

.menu-button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    width: 400px;
}

/* Menu Page */
.menu-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background-color: #171717;
}

.menu-title {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    height: 1000px;
    background-color: var(--secondary-color);
    border-radius: 40px;
    padding: 30px;
    align-items: center;
    gap: 20px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.food {
    height: 150px;
    border-radius: 30px;
}

.item-title {
    font-size: 30px;
    font-weight: 600;
}

/* About Page */

.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #171717;
}

.about-card {
    background-color: white;
    width: 1000px;
    height: 500px;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-card-title {
    font-size: 40px;
    font-weight: 600;
    align-self: center;
}

.about-card-desc {
    font-size: 20px;
    text-align: center;
}
